In [1]:
import pandas as pd
import numpy as np
import io
import string

In [2]:
# sample data: delimiter ';' line terminator \n 
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'

In [3]:
# convert stringified data to dataframe
data = data.replace('_', ';')                       # split to and from columns
flights = pd.read_csv(io.StringIO(data), sep=";")   # read to dataframe
flights.index += 1

# adjust 'FlightCodes'
#   get first flight code
start_code = flights['FlightCodes'][flights['FlightCodes'].first_valid_index()] 
#   fill all codes, set int type
flight_codes = np.arange(start_code, start_code + 10 * len(flights.index), 10, dtype='int64') 
flights['FlightCodes'] = flight_codes

# adjust 'To', 'From''s cases
flights['To'] = flights['To'].apply(lambda s: s.capitalize())
flights['From'] = flights['From'].apply(lambda s: s.capitalize())

# clean 'Airline Code'
#   remove punctuation
flights['Airline Code'] = flights['Airline Code'].apply(lambda s: s.translate(str.maketrans('', '', string.punctuation)))

In [4]:
flights

      Airline Code    DelayTimes  FlightCodes        To       From
1      Air Canada       [21, 40]        20015  Waterloo    Newyork
2    Air France 12            []        20025  Montreal    Toronto
3  Porter Airways   [60, 22, 87]        20035   Calgary     Ottawa
4    12 Air France      [78, 66]        20045    Ottawa  Vancouver
5        Lufthansa      [12, 33]        20055    London   Montreal